.setLocationWrapper {
  display:flex;
  flex-direction: row;
  align-items: center;
  top: 60px;
  right: 120px;
  /* position: relative; */
}

.setLocationAddress {
  font-size: 33px;
  line-height: 2.18;
  color: #121212;
  left: 135px;
  position: relative;
}

.setLocationSymbol {
  width: 30px;
  height: 30px;
  left: 150px;
  position: relative;
}

.setLocationChange {
  font-size: 18px;
  line-height: 2.17;
  color: #818181;
  position: relative;
  left: 1050px;
}