.locationSearchWrapper {
    width: 95%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  @media all and (min-width:1024px){
    .locationSearchWrapper{
    .locationSearchBox {
      width: 20rem;
      height: 4rem;
      padding: 0.372rem 5.188rem 0.313rem 0.499rem;
      border-radius: 7px;
      border: solid 0.4px #FF9C15;
      background-color: #f8f8f8;
    }
    
    .locationSearchInput:focus {
      outline:none;
    }
    }
  }
  