
//   @media all and (min-width:320px){
//   .menu-container{
//       margin-top: 1rem;
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       justify-content: center;
//       .menuBox{
//           display: flex;
//           flex-direction: column;
//       }
//     .menu {
//     background: #818181;
//     border-radius: 8px;
//     position: relative;
//     right: 0;
//     width: 4rem;
//     box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
//     opacity: 0;
//     visibility: hidden;
//     transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
//   }
//   .menu.active {
//     opacity: 1;
//     visibility: visible;
//   }
  
//   .menu ul {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//   }
//   .menu li {
//     border-bottom: 1px solid #dddddd;
//   }
//   .menu-trigger {
//     background: #818181;
//     border-radius: 90px;
//     width: 4rem;
//     cursor: pointer;
//     display: flex;
//     justify-content: center;
//     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
//     border: none;
//     transition: box-shadow 0.4s ease;
//   } 
//   .menu-trigger span {
//     font-weight: 700;
//     font-size: 0.8rem;
//     text-align: center;
//   }
// }
// }

@media all and (min-width:1024px){
    .pill-container{
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        
        .pillBox{
            display: flex;
            flex-direction: column;
            .pill-trigger {
                background: #818181;
                border-radius: 90px;
                width: 6rem;
                height: 2rem;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
                border: none;
                transition: box-shadow 0.4s ease;
                margin-right: 2rem;
                .colormenu {
                    display: block;
                    background: #818181;
                    border-radius: 8px;
                    position: absolute;
                    top : 24.5%;
                    right: 83.8%;
                    //left : 2%;
                    width: 8rem;
                    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
                    z-index: 10000000;
                }
                  .colormenu.active {
                    opacity: 1;
                    visibility: visible;
                  }
                  .backgroundmenu {
                      background: #818181;
                      border-radius: 8px;
                      position: absolute;
                      top : 24.5%;
                      right: 76.2%;
                      width: 8rem;
                      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
                      opacity: 0;
                      visibility: hidden;
                      transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
                      z-index: 10000000;
                    }
                    .backgroundmenu.active {
                      opacity: 1;
                      visibility: visible;
                    }
                    .thingsmenu {
                      background: #818181;
                      border-radius: 8px;
                      position: absolute;
                      top : 24.5%;
                      right: 68.5%;
                      width: 8rem;
                      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
                      opacity: 0;
                      visibility: hidden;
                      transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
                      z-index: 10000000;
                    }
                    .thingsmenu.active {
                      opacity: 1;
                      visibility: visible;
                    }

              } 
              .pill-trigger span {
                font-weight: 700;
                font-size: 0.8rem;
                text-align: center;
              }
        }
      
    
    .pillul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .pillli {
    height: 2rem;
    width : 100%;
    border-bottom: 1px solid #7e7d7d;
    text-align: center;
    padding-top: 0.8rem;
    }
    
  }
  }