.searchStudioWrapper {
  width: 637px;
  height: 56px;
  border-radius: 15px;
  border: solid 1px #818181;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 197px;
}

.searchStudioSymbol {
  width: 23px;
  height: 23px;
  position: relative;
  left: 21px;
  top: 16px;
}

.searchStudioInput {
  width: 235px;
  height: 25px;
  margin: 0 0 0 26px;
  border: none;
  font-size: 21px;
  text-align: left;
  color: #818181;
  position: relative;
  top: 15px;
}

.searchStudioInput:focus {
  outline:none;
}