.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modalLink {
  color: inherit;
  text-decoration: none;
}

@media all and (min-width: 320px) and (max-width: 1024px){
  .modalbody{
    outline: none;
    border-radius : 26px;
    width : 75%;
    height : auto;
    display : flex;
    flex-direction : column;
    align-items : center;
    border : none;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    .modalName {
      text-align: center;
      font-family: YDIYGO330;
      font-size: 0.813rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #121212;
    }
    .modalClose {
      margin-top: 1rem;
      margin-left: auto;
      margin-right: 1rem;
    }
    .modalLogo {
      text-shadow: 0 3px 6px rgba(255, 255, 255, 0.16);
      font-family: 210OmniGothic-040;
      font-size: 1.813rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.62;
      letter-spacing: -6.09px;
      text-align: left;
      color: #ff9c15;
    }
    .modalLogin {
      width: 11rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .modalIdInput, .modalPWInput {
        margin-bottom: 1rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid #707070;
        font-family: YDIYGO330;
        font-size: 0.625rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
      }
      input:focus {
        outline: none;
      }
      input::placeholder {
        color: #bebebe;
      }
      .modalBtn {
        width: 90%;
        height: 2.5rem;
        margin-top: 0.5rem;
        border-radius: 19px;
        background-color: #ff9c15;
        border: none;
        font-family: YDIYGO330;
        font-size: 0.813rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
    .modalLower {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 12rem;
      font-size: 0.6rem;
      div {
        width: 33%;
        text-align: center;
      }
      .modalCS {
        border-left: 0.5px solid #bebebe;
        border-right: 0.5px solid #bebebe;
      }
      .modalFindPW, .modalCS {
        font-family: YDIYGO330;
        font-size: 0.625rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #818181;
      }
      .modalSignUp {
        font-family: YDIYGO330;
        font-size: 0.625rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ff9c15;
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .modalbody{
    outline: none;
    border-radius : 26px;
    width : 768px;
    height : auto;
    display : flex;
    flex-direction : column;
    align-items : center;
    border : none;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    .modalName {
      text-align: center;
      font-family: YDIYGO330;
      font-size: 1.2rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #121212;
    }
    .modalClose {
      font-size: 1.2rem;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: 1.2rem;
    }
    .modalLogo {
      text-shadow: 0 3px 6px rgba(255, 255, 255, 0.16);
      font-family: 210OmniGothic-040;
      font-size: 2.3rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.62;
      letter-spacing: -6.09px;
      text-align: left;
      color: #ff9c15;
    }
    .modalLogin {
      width: 16rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .modalIdInput, .modalPWInput {
        margin-bottom: 1.5rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid #707070;
        font-family: YDIYGO330;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
      }
      input:focus {
        outline: none;
      }
      input::placeholder {
        color: #bebebe;
      }
      .modalBtn {
        width: 90%;
        height: 3rem;
        margin-top: 0.5rem;
        border-radius: 19px;
        background-color: #ff9c15;
        border: none;
        font-family: YDIYGO330;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
    .modalLower {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 18rem;
      div {
        width: 33%;
        text-align: center;
      }
      .modalCS {
        border-left: 0.5px solid #bebebe;
        border-right: 0.5px solid #bebebe;
      }
      .modalFindPW, .modalCS {
        font-family: YDIYGO330;
        font-size: 0.9rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #818181;
      }
      .modalSignUp {
        font-family: YDIYGO330;
        font-size: 0.9rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ff9c15;
      }
    }
  }
}