.studioListWrapper {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.studioListUrl {
  text-decoration: none;
}



@media all and (min-width: 320px) and (max-width : 1024px) {
  .studioListMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .studioListCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 20rem;
      border-radius: 14px;
      border: solid 0.2px #818181;
      margin-top: 1.5rem;
      .studioListPhoto {
        width: 100%;
        height : 60%;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        .studioListImg {
          width: 101%;
          height : 101%;
          border-radius: 12px 12px 0 0;
          
        }
      }
      .studioListContent{
        width : 90%;
        height: 40%;
        display:flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        margin-top: 0.5rem;
        .studioListName {
          font-size: 1rem;
          font-weight: 600;
          color: #121212;
        }
        .studioListLocation {
          font-size: 0.5rem;
          font-weight: 400;
          margin-top: 0.2rem;
        }
        .studioListRate {
          font-size: 0.5rem;
          line-height: 2.5;
          color: #ff9c15;
        }
        .studioListKeyword {
          border: solid 0.4px #818181;
          border-radius: 15px;
          background-color: white;
          margin-right: 0.2rem;
          color: #818181;
        }
      }
    }
  }
  
}

@media all and (min-width: 1024px) {
  .studioListMain {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 3rem;
    .studioListCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25rem;
      height: 30rem;
      border-radius: 14px;
      margin-top: 1.5rem;
      border: solid 0.2px #818181;
      .studioListPhoto {
        width: 100%;
        height : 60%;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        .studioListImg {
          width: 101%;
          height : 101%;
          border-radius: 12px 12px 0 0;
          
        }
      }
      .studioListContent{
        width : 90%;
        height: 40%;
        display:flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        margin-top: 0.5rem;
        .studioListName {
          font-size: 2rem;
          font-weight: 600;
          color: #121212;
        }
        .studioListLocation {
          font-size: 1rem;
          font-weight: 400;
          margin-top: 0.2rem;
        }
        .studioListRate {
          font-size: 1rem;
          line-height: 2.5;
          font-weight: 800;
          color: #ff9c15;
        }
        .studioListKeyword {
          border: solid 0.4px #818181;
          border-radius: 15px;
          background-color: white;
          margin-right: 0.2rem;
          color: #818181;
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }
  
}