// start common
.headerContainer{
    background-color: black;
    display: flex;
    align-items: stretch;

}
  
  // end common
  
  // start mobile
  @media all and (min-width: 320px) {
.headerContainer{
    .arrowWrapper {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      .closeArrow {
        width: 100%;
        height: 12vh;
        display: flex;
        align-items: center;
        .arrow {
          margin-top: 0.5rem;
          display: block;
          width: 1.5rem;
          margin-left: 0.8rem;
        }
      }
    }
    .menuContents {
      color: #ffffff;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .menuItem {
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 5vh;
        span {
          font-size: 0.9rem;
          font-weight: 800;
          color: #ffffff;
          display: block;
          margin-right: 1rem;
        }
      }
    }
    .headerInitWrapper{
      width: 99%;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      
    .headerLogoBox{
      display: flex;
      align-items: center;
      justify-content: center;
      
    .headerLogo {
      background-color: black;
      color : white;
      border : none;
      font-weight: 800;
      font-size: 1.5rem;
      }
      }
      .hamburgerBox{
        width : 3rem;
        height: 3rem;
      .headerHam{
        width : 100%;
        height: 100%;
        }
      }
    
}
  }
}
  // end mobile
  
  // start tablet
  @media all and (min-width: 768px) {
  }
  // end tablet
  
  // start desktop
  @media all and (min-width: 1024px) {
    .headerContainer{
      background-color: orange;
    .arrowWrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        .closeArrow {
          width: 100%;
          height: 12vh;
          display: flex;
          align-items: center;
          .arrow {
            margin-top: 0.5rem;
            display: block;
            width: 1.5rem;
            margin-left: 0.8rem;
          }
        }
      }
      .menuContents {
        color: #ffffff;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .menuItem {
          white-space: nowrap;
          overflow: hidden;
          display: flex;
          justify-content: flex-end;
          width: 100%;
          height: 5vh;
          span {
            font-size: 1.5rem;
            font-weight: 800;
            display: block;
            margin-right: 1rem;
          }
        }
      }
      .headerInitWrapper{
        width: 99%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        
      .headerLogoBox{
        display: flex;
        align-items: center;
        justify-content: center;
      .headerLogo {
        background-color: orange;
        color : white;
        border : none;
        font-weight: 800;
      font-size: 1.5rem;
        }
        }
        .hamburgerBox{
          width : 3rem;
          height: 3rem;
        .headerHam{
          width : 100%;
          height: 100%;
          }
        }
      
  }
}
  }
  // end desktop
  