.reserveStudioWrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (min-width:500px){
  .reserveStudioTitle {
    width: 100%;
    margin: 0.8rem 0 0.8rem 0.5rem;
    font-family: YDIYGO350;
    font-size: 1.3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #121212;
  }
  .reserveStudioTitleLine {
    width: 100%;
    height: 0.063rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #707070;
  }
  .reserveStudioMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
  }
  .reserveStudioInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    .reserveStudioInfoTitle {
      margin: 1.5rem 0.5rem 0 1rem;
      font-family: NotoSans;
      font-size: 1.1rem;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #818181;
    }
    .reserveStudioInfoContent {
      margin: 1.5rem 0 1.5rem 1rem;
      font-family: NotoSans;
      font-size: 1.1rem;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #121212;
    }
  }
  .reserveStudioTime {
    margin-top: 0.8rem;
    width: 100%;
    background-color: #ffffff;
    .reserveStudioTimeTitle {
      margin: 1.5rem 0 1rem 1rem;
      font-family: YDIYGO350;
      font-size: 1.3rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      color: #121212;
    }
    .reserveStudioTimeSelect {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem 1rem 1.5rem 1rem;
      height: 10rem;
      border: 1px solid #000000;
      .reserveStudioTimeDate {
        width: 80%;
        height: 4rem;
        background-color: #ffaaaa;
      }
      .reserveStudioTimeTime {
        width: 80%;
        height: 4rem;
        background-color: #aaaaff;
      }
    }
  }
  .reserveStudioDetail {
    margin-top: 0.8rem;
    width: 100%;
    background-color: #ffffff;
    .reserveStudioDetailTitle {
      margin: 1.5rem 0 1rem 1rem;
      font-family: YDIYGO350;
      font-size: 1.3rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      color: #121212;
    }
    .reserveStudioDetailSelect {
      border-top: 1px solid #bebebe;
      border-bottom: 1px solid #bebebe;
      .reserveStudioDetailRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.7rem 0 0.7rem 1rem;
        .reserveStudioDetailRowName {
          width: 6rem;
          font-family: YDIYGO340;
          font-size: 1.1rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          text-align: left;
          color: #121212;
        }
        .reserveStudioDetailRowBtns {
          font-family: YDIYGO340;
          font-size: 1rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          text-align: center;
          color: #818181;
        }
        .reserveStudioDetailBtn {
          margin-right: 0.4rem;
          width: 6rem;
          height: 2rem;
          border-radius: 10px;
          border: solid 1px #c9c9c9;
          font-family: YDIYGO330;
          font-size: 1rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          text-align: center;
          color: #818181;
          background-color: #ffffff;
          padding: 0 0 0 0;
        }
        .reserveStudioDetailInput {
          margin-right: 0.4rem;
          width: 6rem;
          height: 2rem;
          border-radius: 10px;
          border: solid 1px #c9c9c9;
          font-family: YDIYGO330;
          font-size: 1rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          text-align: center;
          color: #818181;
          background-color: #ffffff;
          padding: 0 0 0 0;
          outline: none;
      }
      }
    }
    .reserveStudioDetailRequest {
      .reserveStudioDetailRequestName {
        margin: 0.7rem 0 0.7rem 1rem;
        font-family: YDIYGO340;
        font-size: 1.1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #121212;
      }
      .reserveStudioDetailRequestInputWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .reserveStudioDetailRequestInput {
        width: 95%;
        height: 11.438rem;
        border-radius: 15px;
        border: solid 1px #818181;
        font-family: YDIYGO320;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #121212;
        outline: none;
      }
      .reserveStudioDetailRequestInput::placeholder {
        color: #bebebe;
      }
    }
    .reserveStudioDetailCaution {
      margin: 1rem 0 1rem 1rem;
      font-family: NotoSans;
      font-size: 1rem;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ff9c15;
    }
    .reserveStudioSubmitWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .reserveStudioSubmit {
      margin: 0 0 1.5rem 0;
      width: 8rem;
      height: 3rem;
      border-radius: 30px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ff9c15;
      font-family: YDIYGO350;
      font-size: 1rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      border: none;
    }
  }
}